.wrapper {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
.main {
  margin-top: 3rem;
  margin-left: 25rem;
  width: 20rem;
}
.input {
  margin: 50px;
}
