.wrapper {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 100rem;
  background-image: url('../assets/Fondo.jpg');
  background-size: cover;
}
.main {
  display: flex;
  margin-left: 25rem;
  width: 60rem;
}
.input {
  margin: 50px;
}
.text {
  margin-left: 5rem;
  padding: 5rem;
}
.res {
  align-items: center;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 60vw;
  height: 60vh;
}
