.wrapper {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 1rem;
  width: 100%;
  height: 100rem;
  text-align: center;
  background-size: cover;
  font-size: larger;
}
.main {
  display: flex;
  margin-left: 25rem;
  width: 60rem;
}
.input {
  margin: 50px;
}
.form {
  align-items: center;
}
.text {
  margin-left: 5rem;
  padding: 5rem;
}

.res {
  display: flex;
  width: 50%;
  height: 20rem;
  flex-wrap: wrap;
  margin-left: 25%;
}
.dataWrapper {
  border: 1px solid black;
  width: 100%;
  height: 6rem;

  align-items: stretch;
}
.divs {
  border: 1px solid black;
  height: 6rem;
  width: 20rem;
}

@media screen and (max-width: 500px) {
  .wrapper {
    display: flex;
    flex: column;
    flex-wrap: wrap;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 100rem;
    background-size: cover;
    text-align: center;
    font-size: large;
  }
}
